.navbar-center {
    background: none;
    width: auto;
    /* height: 25vh; */
    text-align: center;
}
.navbar-center .navbar-brand {
    color: black;
    margin: 100px 10px 10px 10px;
}
.navbar-center .title {
    color: black;
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: .1em;
}

/* .navbar-brand .title {

} */