@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

body {
    background: radial-gradient(#000000, #2D3436);
    background-position: center;
    background-attachment: fixed;
    color: white;
    list-style-type: none;
}

ul {
    padding: 0;
    margin: 0;
}