.list-group-item {
    margin: 1px 1px;
    display: flex;
    flex-direction: column;
    /* width: auto; */
    width: 33%;
    height: 400px;
    overflow: hidden;
    animation: splash 1s normal forwards ease-in-out;
    transition: transform .2s;
}

.list-group-item:hover {
    transform: scale(1.2);
    height: auto;
}

.list-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* width: 33%; */
    flex-wrap: wrap;
    position: relative;
    overflow: visible;
}

.book-title {
    font-size: x-large;
    font-weight: 500;
    font-family: sans-serif;
}

.book-author {
    font-size: large;
    font-weight: 300;
    font-family: '';
}

.no-results {
    width: 100%;
    text-align: center;
    padding-top: 100px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    margin: 25px 0px;
    padding-top: 25px;
}

.flex-col {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
    margin: 0 auto;
    padding-top: 50px;
}


@media only screen and (max-width: 600px) {
    .list-group-item {
        width: 100%;
        margin: 10px 10px;
    }
    .list-group-item:hover {
        transform: scale(1.1);
        height: auto;
    }
  }




@keyframes splash {
    from {
        opacity: 0;
        transform: scale(0, 0);
    }
    50% {
        opacity: 1;
        transform: scale(1.1, 1.1);
    }
    to {
        transform: scale(1, 1);
    }
}

.genre-titles {
  /* background: black; */
}

.genre-titles h1 {
  width: 250px;
  margin: 0 auto;
  padding: 10px 0;
  background: grey;
}

.book-row {
    margin: 25px auto;
    width: 100%;
    /* height: 300px; */
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow-x: scroll;
    background: black;
}

.list-item img {
    margin: 20px 25px;
    width: auto;
    height: 250px;
    transition: all .2s ease-in-out;
    position: relative;
}

.modal {
    position: absolute;
    bottom: 250px;
    height: 250px;
    widows: 250px;
    background: black;
}

/* .list-item img:hover {
    transform: scale(1.1);
} */

/* width */
::-webkit-scrollbar {
    padding: 10px 25px;
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }